@model eBusiness.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "PortfolioDetails";
}

<div class="page-title dark-background">
    <div class="container position-relative">
        <h1>Portfolio Details</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="current">Portfolio Details</li>
            </ol>
        </nav>
    </div>
</div>

<section id="portfolio-details" class="portfolio-details section">
    <div class="container" data-aos="fade-up">
        <div class="portfolio-details-slider swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "navigation": {
                    "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"
                  },
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
            </script>
            <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                    <img src="~/Pictures/MasterPortfolioItemMenu/@Model.PortfolioItemMenu.MasterPortfolioItemMenuImageUrl" alt="">
                </div>

            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4 mt-4">

            <div class="col-lg-8" data-aos="fade-up">
                <div class="portfolio-description">
                    <h2>@Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsTitle</h2>
                    @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsDescription1)

                    <div class="testimonial-item">
                        @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsQuote)
                        <div>
                            <img src="~/Pictures/MasterPortfolioItemMenu/@Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsImageUrl" class="testimonial-img" alt="">
                            <h3>@Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsName</h3>
                            <h4>@Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsPosition</h4>
                        </div>
                    </div>

                    @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsDescription2)

                </div>
            </div>

            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li>
                            <strong>Category</strong>
                            @Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsProjectCategory
                        </li>
                        <li>
                            <strong>Client</strong>
                            @Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsProjectClient
                        </li>
                        <li>
                            <strong>Project date</strong>
                            @Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsProjectDate
                        </li>
                        <li>
                            <strong>Project URL</strong>
                            <a href="#">@Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsProjectUrl</a>
                        </li>
                        <li>
                            @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsProjectWebsite)
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>